<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<a data-controller="offline" data-action="click->offline#download" data-offline-url-value="<%= posts_path %>">Cache all posts to use offline</a>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
